<template>
	<v-container class="ma-0">
    <v-card class="transparent elevation-0">
      <v-card-title>
        <span class="text-subtitle-1"><b>Actividades por etapas</b></span>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-card-text>
        <v-data-table
		      :headers="headers"
		      :items="menuDesglose"
		      :items-per-page="menuDesglose.length"
		      hide-default-footer
          show-expand
          :single-expand="false"
          :expanded.sync="expanded"
		    >
		      
          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length" class="pa-4 grey lighten-2">
              <v-data-table
                :headers="headers2"
                :items="item.items"
                :items-per-page="item.items.length"
                hide-default-footer
                show-expand
                :single-expand="false"
                :expanded.sync="expanded2"
              >
                
                <template v-slot:expanded-item="{ headers, item }">
                  <td :colspan="headers.length" class="pa-4 grey lighten-4">
                    <v-data-table
                      :headers="headers3"
                      :items="item.items"
                      :items-per-page="item.items.length"
                      hide-default-footer
                      :single-select="singleSelect"
                      item-key="title"
                      show-select
                      class="elevation-1"
                    >
                      
                      <template v-slot:expanded-item="{ headers, item }">
                        <td :colspan="headers.length">
                          More info about {{ item.name }}
                        </td>
                      </template>

                      <template v-slot:item.actividades="{ item }">
                        <v-btn color="grey" dark tile small>
                          <v-icon small>mdi-message-plus-outline</v-icon>
                        </v-btn>
                      </template>

                      <template v-slot:item.estatus="{ item }">
                        <v-btn color="orange" dark tile small>
                          Pendiente
                        </v-btn>
                      </template>

                      <template v-slot:item.comentarios="{ item }">
                        <v-btn color="primary" dark tile small>
                          <v-icon small>mdi-magnify</v-icon>
                        </v-btn>
                      </template>

                    </v-data-table>
                  </td>
                </template>

                <template v-slot:item.actividades="{ item }">
                  <v-btn color="grey" dark tile small>
                    <v-icon small>mdi-message-plus-outline</v-icon>
                  </v-btn>
                </template>

                <template v-slot:item.estatus="{ item }">
                  <v-btn color="orange" dark tile small>
                    Pendiente
                  </v-btn>
                </template>

                <template v-slot:item.comentarios="{ item }">
                  <v-btn color="primary" dark tile small>
                    <v-icon small>mdi-magnify</v-icon>
                  </v-btn>
                </template>

              </v-data-table>
            </td>
          </template>

          <template v-slot:item.actividades="{ item }">
            <v-btn color="grey" dark tile small>
              <v-icon small>mdi-message-plus-outline</v-icon>
            </v-btn>
          </template>

          <template v-slot:item.estatus="{ item }">
            <v-btn color="orange" dark tile small>
              Pendiente
            </v-btn>
          </template>

          <template v-slot:item.comentarios="{ item }">
            <v-btn color="primary" dark tile small>
              <v-icon small>mdi-magnify</v-icon>
            </v-btn>
          </template>

		    </v-data-table>
      </v-card-text>
    </v-card>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>
    
	</v-container>	
</template>
<script>

	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import { mapGetters, mapActions }  from 'vuex';
  import funcionesExcel        from '@/mixins/funcionesExcel'

  import InfoCliente    from '@/components/proyectos/InfoCliente.vue'


	export default {

		components:{
      Alerta,
      carga,
      InfoCliente
    },

    mixins: [ validarErrores, funcionesExcel ],

		props:[
			'dialogSecciones',
			'editedItem'
	  ],

    computed: {
      ...mapGetters('login', ['getdatosUsuario', 'getLogeadoMudity', 'getEscuela','drawer2','getEstatusLlamada','getNuevosProspectos']),
    },

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

    	cliente: null,
      search:'',

      snack: false,
      snackColor: '',
      snackText: '',
      headers: [
        { text: 'Etapa'        , align: 'start', sortable: false, value: 'title' },
        { text: 'actividades'  , value: 'actividades' },
        { text: 'estatus'      , value: 'estatus' },
        { text: 'Fecha Limite' , value: 'fecha_limite' },
        { text: 'ver'          , value: 'comentarios' },
      ],

      
      headers2: [
        { text: 'Sub Actividad'  , align: 'start', sortable: false, value: 'title' },
        { text: 'actividades'    , value: 'actividades' },
        { text: 'estatus'        , value: 'estatus' },
        { text: 'Fecha Limite'   , value: 'fecha_limite' },
        { text: 'ver'            , value: 'comentarios' },
      ],

      headers3: [
        { text: 'Sub Actividad'  , align: 'start', sortable: false, value: 'title' },
        { text: 'actividades'    , value: 'actividades' },
        { text: 'estatus'        , value: 'estatus' },
        { text: 'Fecha Limite'   , value: 'fecha_limite' },
        { text: 'ver'            , value: 'comentarios' },
      ],

      expanded: [],
      expanded2: [],
      singleExpand: false,

      singleSelect:[],

      menuDesglose:[
        {
          action: 'mdi-account',
          title: 'Completar Expediente',
          fecha_limite: '2023-11-02',
          estatus: 2,
          items:[
            {
              seleccionado: false,
              title: 'Recoger poder en notaría',
              idactions: 1,
              fecha_limite: '2023-11-02',
              items: [
                {
                  seleccionado: false,
                  title: 'Ir  la notaría a rcoger',
                  idactions: 1,
                  items: []
                },

                {
                  seleccionado: false,
                  title: 'Revisar que esté bien hecho / revisar nombres',
                  idactions: 1,
                  items: []
                },

                {
                  seleccionado: false,
                  title: 'Anexar el poder al expediente',
                  idactions: 1,
                  items: []
                },
              ]
            },

            {
              seleccionado: false,
              title: 'Completar expediente',
              idactions: 2,
              fecha_limite: '2023-11-02',
              items: [
                {
                  seleccionado: false,
                  title: 'Actas de nacimiento actualizada',
                  idactions: 1,
                  items: []
                },

                {
                  seleccionado: false,
                  title: 'Actas de matrimonio actualizada',
                  idactions: 1,
                  items: []
                },

                {
                  seleccionado: false,
                  title: 'INE con vigencia',
                  idactions: 1,
                  items: []
                },
              ]
            },

            {
              seleccionado: false,
              title: 'Alta de servicios',
              fecha_limite: '2023-11-02',
              idactions: 3,
              items: [
                {
                  seleccionado: false,
                  title: 'Agua',
                  idactions: 1,
                  items: []
                },

                {
                  seleccionado: false,
                  title: 'CFE',
                  idactions: 1,
                  items: []
                },

                {
                  seleccionado: false,
                  title: 'INE',
                  idactions: 1,
                  items: []
                },
              ]
            },

          ]
        }
      ],

      usuarios:[],

    }),

    created(){
    	this.avatar ="https://ui-avatars.com/api/?background=2E2828&color=fff&rounded=true&format=svg&name=";
    	this.initialize()
    },


    methods:{

      initialize( ){
        this.cargar = true
        this.usuarios = []
        return this.$http.get('usuarios.get').then(response=>{
          this.usuarios = response.body.usuarios
          console.log( this.usuarios )
          this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

    	save () {
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Data saved'
      },
      cancel () {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = 'Canceled'
      },
      open () {
        this.snack = true
        this.snackColor = 'info'
        this.snackText = 'Dialog opened'
      },
      close () {
        console.log('Dialog closed')
      },
    }
	}
</script>
<style scoped>
	.red-border {
	  border-left: 10px solid #cc0606; /* Puedes ajustar el ancho del borde según tus preferencias */
	}
</style>