<template>
	<v-container class="ma-0">
    <v-card class="transparent elevation-0">
      <v-card-title>
        <span class="text-subtitle-1">Datos del cliente</span>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-card-text v-if="cliente">
        <v-row>
        	<v-col cols="12" md="6" lg="6">
            <v-text-field
              v-model="cliente.nombre_completo"
              label="Nombre Completo"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="3" lg="3">
            <v-text-field
              v-model="cliente.telefono"
              label="Teléfono"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="3" lg="3">
            <v-text-field
              v-model="cliente.telefono2"
              label="Teléfono 2"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="6">
            <v-text-field
              v-model="cliente.correo"
              label="Correo"
              filled
              readonly
              hide-details
              dense
              type="mail"
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="6">
            <v-text-field
              v-model="cliente.conyugue"
              label="Nombre conyugue"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-select
              :items="['Soltero','Casado','Divorsiado','Viudo']"
              v-model="cliente.estado_civil_pre_compra"
              label="Estado Civil cuando compró:"
              filled
              readonly
              hide-details
            ></v-select>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-select
              :items="['Soltero','Casado','Divorsiado','Viudo']"
              v-model="cliente.estado_civil_actual"
              label="Estado Civil actual:"
              filled
              readonly
              hide-details
            ></v-select>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.numero_seguro_social"
              label="Numero de Seguro Social:"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.numero_credito"
              label="Numero de Credito:	"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.municipio"
              label="Municipio:"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.colonia"
              label="Colonia:"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.sector"
              label="Sector:"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.calle_numero"
              label="Calle y #:"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.link_google_maps"
              label="Link Google Maps:"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.institucion_bancaria"
              label="Institucion bancaria o infonavit:"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.adeudo_credito"
              label="Institucion bancaria o infonavit:"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-text-field
              v-model="cliente.deuda_predial"
              label="Adeudo del adeudo_credito:"
              filled
              readonly
              hide-details
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6" lg="3">
            <v-select
              :items="['Casa','departamento','terreno']"
              v-model="cliente.tipo_inmueble"
              label="Tipo de inmueble:"
              filled
              readonly
              hide-details
            ></v-select>
          </v-col>

        </v-row>
      </v-card-text>

      <v-card-text v-else>
        <v-alert
          icon="mdi-alert"
          prominent
          text
          type="info"
        >
          Favor de registrarle un cliente al proyecto para ver la información completa
        </v-alert>
      </v-card-text>
    </v-card>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>
    
	</v-container>	
</template>
<script>

	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import { mapGetters, mapActions }  from 'vuex';
  import funcionesExcel        from '@/mixins/funcionesExcel'

  import InfoCliente    from '@/components/proyectos/InfoCliente.vue'


	export default {

		components:{
      Alerta,
      carga,
      InfoCliente
    },

    mixins: [ validarErrores, funcionesExcel ],

		props:[
			'dialogSecciones',
			'editedItem'
	  ],

    computed: {
      ...mapGetters('login', ['getdatosUsuario', 'getLogeadoMudity', 'getEscuela','drawer2','getEstatusLlamada','getNuevosProspectos']),
    },

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

    	cliente: null,
      search:'',
    }),

    created(){
    	this.initialize()
    },


    methods:{
    	initialize(idformulario){
    		this.cargar = true
        // Hacer la peticion de los datos
        this.$http.get('clientes.id/' + this.editedItem.idproyectos).then((response) => {
        	this.cargar = false
        	this.cliente = response.body
        }).catch(error=>{
          this.validarError( error )
        }).finally(()=> { this.overlay = false })
      },
    }
	}
</script>
