<template>
	<v-container class="mt-4 ml-2" fluid>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="shadowCard">
	  		  <v-card-title primary-title>
	  		    <span class="text-subtitle-1">Clientes</span>
	  		    <v-spacer></v-spacer>


            <v-btn 
              class="mr-2" 
              small dark color="green"
              @click="exportExcel( clientes  , 'clientes')"
              tile
            >
              <v-icon small>mdi-microsoft-excel</v-icon>
            </v-btn>

	  		    <v-btn
              color="orange"
              dark
              class="mr-2"
              @click="dialog = true"
              small
              tile
            >
              <v-icon left small>mdi-plus</v-icon>
              Agregar
            </v-btn>

            <v-btn
              color="primary"
              dark
              class="text-capitalize"
              @click="initialize()"
              small
              tile
            >
              <v-icon left small>mdi-refresh</v-icon>
              Actualizar
            </v-btn>
	  		  </v-card-title>
          
	  		  <v-card-text>
	  		  	<v-row justify="end">
	  		  		<v-col cols="12" md="6">
	  		  			<v-text-field
	  		  			  name="name"
	  		  			  label="Buscar"
	  		  			  id="id"
	  		  			  filled
	  		  			  dense
	  		  			  hide-details
                  single-line
	  		  			  append-icon="mdi-magnify"
	  		  			  v-model="search"
	  		  			></v-text-field>
	  		  		</v-col>
	  		  	</v-row>
	  		    <v-row>
	  		    	<v-col cols="12">
							  <v-data-table
							    :headers="headers"
							    :items="clientes"
							    class="elevation-0"
							    :search="search"
			            dense
							  >
							    <!-- Valores que ocupan botons, chips, iconos, etc -->
							    <template v-slot:item.activo_sn="{ item }">
							      <v-chip 
							      	v-if="item.activo_sn == 1"
							      	small
							      	color="green"
							      	dark
							      >Si</v-chip>

							      <v-chip 
							      	v-else
							      	small
							      	color="error"
							      	dark
							      >No</v-chip>
							    </template>

                  <template v-slot:item.color="{ item }">
                    <v-chip 
                      small
                      :color="item.color"
                      dark
                    >
                      {{ item.color }}
                    </v-chip>
                  </template>

							    <template v-slot:item.actions="{ item }">
							    	<v-btn 
							    		color="primary" 
							    		x-small
							    		@click="editItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small>mdi-magnify</v-icon>
							    	</v-btn>

							    	<v-btn 
							    		color="error" 
							    		x-small
							    		@click="deleteItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small> mdi-delete</v-icon>
							    	</v-btn>

							    	<v-btn 
							    		color="orange" 
							    		dark
							    		x-small
							    		@click="openExpediente( item )"
							    		class="mr-2"
							    	>
								      <v-icon small> mdi-file</v-icon>
							    	</v-btn>
							    </template>

							    <template v-slot:no-data>
							      <v-btn
							        color="primary"
							        @click="initialize"
							        small
							      >
							        Actualizar
							      </v-btn>
							    </template>

							  </v-data-table>
	  		    	</v-col>
	  		    </v-row>
	  		  </v-card-text>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <!-- Dialogo de editar o agregar-->
	  <v-dialog
      v-model="dialog"
      max-width="1000px"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-subtitle-1">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <span class="text-subtitle-1">
          	<strong>ID: {{ editedItem.idusuarios }}</strong>
          </span>
        </v-card-title>

        <v-card-text>
          <v-row>
          	<v-col cols="12" md="6" lg="6">
              <v-text-field
                v-model="editedItem.nombre_completo"
                label="Nombre Completo"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="3" lg="3">
              <v-text-field
                v-model="editedItem.telefono"
                label="Teléfono"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="3" lg="3">
              <v-text-field
                v-model="editedItem.telefono2"
                label="Teléfono 2"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="6">
              <v-text-field
                v-model="editedItem.correo"
                label="Correo"
                filled
                hide-details
                dense
                type="mail"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="6">
              <v-text-field
                v-model="editedItem.conyugue"
                label="Nombre conyugue"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-select
                :items="['Soltero','Casado','Divorsiado','Viudo']"
                v-model="editedItem.estado_civil_pre_compra"
                label="Estado Civil cuando compró:"
                filled
                hide-details
              ></v-select>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-select
                :items="['Soltero','Casado','Divorsiado','Viudo']"
                v-model="editedItem.estado_civil_actual"
                label="Estado Civil actual:"
                filled
                hide-details
              ></v-select>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.numero_seguro_social"
                label="Numero de Seguro Social:"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.numero_credito"
                label="Numero de Credito:	"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.municipio"
                label="Municipio:"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.colonia"
                label="Colonia:"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.sector"
                label="Sector:"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.calle_numero"
                label="Calle y #:"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.link_google_maps"
                label="Link Google Maps:"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.institucion_bancaria"
                label="Institucion bancaria o infonavit:"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.adeudo_credito"
                label="Institucion bancaria o infonavit:"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-text-field
                v-model="editedItem.deuda_predial"
                label="Adeudo del adeudo_credito:"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6" lg="3">
              <v-select
                :items="['Casa','departamento','terreno']"
                v-model="editedItem.tipo_inmueble"
                label="Tipo de inmueble:"
                filled
                hide-details
              ></v-select>
            </v-col>

            <v-col cols="12">
            	<v-autocomplete
              	dense
              	filled
                clearable
                v-model="editedItem.idproyectos"
                :items="proyectos"
                label="Proyecto"
                item-text="proyecto"
                item-value="idproyectos"
              >
              </v-autocomplete>
            </v-col>


          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="black"
            tile
            small
            dark
            @click="close"
          >
          	<v-icon small left>mdi-cancel</v-icon>
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            tile
            small
            dark
            @click="save"
          >
          	<v-icon small left>mdi-content-save</v-icon>
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialogo para eliminar -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
      	<v-card-text>
	      	<v-row justify="space-around">
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="text-subtitle-1" style="display: table-cell; vertical-align: middle;">
		      				<strong>Eliminar</strong> ¿Estás seguro que deseas eliminar el ciclo?
			      			<v-card-actions class="pt-6">
			      				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
			      			  <v-btn color="error" text  class="mr-2" @click="closeDelete()">No, cancelar</v-btn>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="#5C5C5C"  dark class="elevation-6"  @click="deleteItemConfirm()">Si</v-btn>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
	      		<v-col cols="5">
	      			<v-img src="@/assets/borrar.png"></v-img>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogVerArchivos"
      max-width="1000px"
    >
      <v-card class="shadowCard">
        <v-card-title class="text-subtitle-1">
          Expediente empleados
          <v-spacer></v-spacer>
          <v-btn
            small
            color="primary"
            tile
            @click="dialogAddArchivo = true"
            class="mr-2"
          >
            <v-icon left small>
              mdi-plus
            </v-icon>
            Agregar archivo
          </v-btn>

          <v-btn color="primary" @click="openExpediente( cliente )" small tile>
            <v-icon small left>mdi-refresh</v-icon>
            Actualizar
          </v-btn>
        </v-card-title>

        <v-card-text>
          <v-row justify="space-between">

          	<v-col cols="12" md="4" lg="2">
              <v-btn 
              	color="primary" 
              	small 
              	v-if="archivosZip.length"
              	tile
              	@click="descargarZip()"
              >
            		Descargar
            	</v-btn>
            </v-col>

            <v-col cols="12" md="6" lg="4">
              <v-text-field
                filled
                single-line
                label="Búscar"
                append-icon="mdi-magnify"
                hide-details
                v-model="buscar"
                dense
              ></v-text-field>
            </v-col>
          </v-row>

          <!-- REQUISICIONES -->
          <v-data-table
            :headers="headersArchivos"
            :items="datos"
            dense
            show-select
            class="elevation-0 mt-4"
            :search="buscar"
            v-model="archivosZip"
            item-key="idarchivos_empleado"
          >
          	<!-- Datos dinámicos de las tablas -->
			      <template v-slot:item.actions="{ item }">
	            <v-btn
	              color="primary"
	              dark
	              x-small
	              tile
	              @click="deletedArchivo( item )"
	              class="mr-2"
	            >
	              <!-- v-if="item.idcontador == 0" -->
	              <v-icon small>
	                mdi-delete
	              </v-icon>
	            </v-btn>

	            <v-btn
	              color="red"
	              dark
	              x-small
	              tile
	              @click="verPDF(item)"
	            >
	              <v-icon small>
	               	mdi-file-pdf-box
	              </v-icon>
	            </v-btn>

			      </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialogo de editar o agregar-->
	  <v-dialog
      v-model="dialogAddArchivo"
      max-width="400px"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-subtitle-1">Agrgar archivo</span>
          <v-spacer></v-spacer>
        </v-card-title>

        <v-card-text>
      		<label>Tipo de archivos</label>
          <v-autocomplete
            filled
            dense
            clearable
            v-model="archivo"
            :items="tipoArchivos"
            label="Selecciona un tipo de arrchivo"
            prepend-inner-icon="mdi-file"
            single-line
            item-text="archivo"
            item-value="idtipo_archivos"
          >
          </v-autocomplete>

          <div v-if="!file">
            <div :class="['dropZone', dragging ? 'dropZone-over' : '']" @dragenter="dragging = true" @dragleave="dragging = false">
              <div class="dropZone-info" @drag="onChange">
                <span class="fa fa-cloud-upload dropZone-title"></span>
                <span class="dropZone-title blue--text"><b>Arrastre el archivo para cargar</b></span>
                <div class="dropZone-upload-limit-info">
                  <div>Extensión: png, jpg, jpeg, svg</div>
                  <div>Tamaño máximo: 10 MB</div>
                </div>
              </div>
              <input type="file" @change="onChange">
            </div>
          </div>


          <v-btn  v-else color="red" class="mb-2" dense @click="file = null, vistaPrevia = null, extension = ''" fab small dark><v-icon>mdi-delete</v-icon></v-btn>
          <v-img :src="vistaPrevia.url" v-if="vistaPrevia && ['jpg', 'png', 'jpeg', 'JPG'].includes( vistaPrevia.extension )" contain max-height="300"/>
          <embed :src="vistaPrevia.url" v-if="vistaPrevia && ['PDF', 'pdf'].includes( extension )" type="application/pdf" width="100%" height="400px"/> 
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="black"
            dark
            small
            @click="dialogAddArchivo = false"
            tile
            dense
          >
          	<v-icon left small>mdi-close</v-icon>
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            small
            dark
            @click="saveArchivos"
            tile
          >
          	<v-icon left small>mdi-content-save</v-icon>
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- VER PDF -->
    <v-dialog v-model="dialogPDF" max-width="650px" persistent>
      <v-card class="elevation-0">
        <!-- Imagen -->
        <embed :src="url_servidor + pdf.documento" width="650" height="700" type="application/pdf" v-if="pdf && ['PDF', 'pdf'].includes( extension )">
        <v-img :src="url_servidor + pdf.documento" v-if="pdf && ['jpg', 'png', 'jpeg', 'JPG'].includes( extension )" contain max-height="300"/>
        <v-card-actions class="pt-0" >
          <v-spacer></v-spacer>
          <!-- Guardar la información  -->
          <v-btn
            color="error" 
            dark 
            class="elevation-6" 
            block
            @click="dialogPDF = false"
          >Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

	</v-container>
</template>
<script>
	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'

  export default {

    mixins: [ validarErrores, funcionesExcel],


  	components:{
      Alerta,
      carga,
    },

    data: () => ({
    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialog: false,
      dialogDelete: false,
      
      editedIndex: -1,

      editedItem: {
        idclientes:'',
				idproyectos:'',
				nombre_completo:'',
				telefono:'',
				direccion:'',
				telefono2:'',
				correo:'',
				comentarios:'',
				deleted:'',
				fecha_creacion:'',
				conyugue:'',
				estado_civil_pre_compra:'',
				estado_civil_actual:'',
				numero_credito:'',
				numero_seguro_social:'',
				municipio:'',
				colonia:'',
				sector:'',
				calle_numero:'',
				link_google_maps:'',
				adeudo_credito:'',
				tipo_inmueble:'',
				agua:'',
				deuda_cfe:'',
				nombre_contrato_cfe:'',
				ine_con_direccion:1,
				deuda_predial:'',
				plantas:0,
				recamaras:0,
				medio_banio:0,
				m2_terreno:0,
				m2_construccion:0,
				situacion_financiera:'',
				estado_fisico_inmueble:'',
				invadida:0,
				intestada:0,
				demantelada:0,
      },

      defaultItem: {
        idclientes:'',
				idproyectos:'',
				nombre_completo:'',
				telefono:'',
				direccion:'',
				telefono2:'',
				correo:'',
				comentarios:'',
				deleted:'',
				fecha_creacion:'',
				conyugue:'',
				estado_civil_pre_compra:'',
				estado_civil_actual:'',
				numero_credito:'',
				numero_seguro_social:'',
				municipio:'',
				colonia:'',
				sector:'',
				calle_numero:'',
				link_google_maps:'',
				adeudo_credito:'',
				tipo_inmueble:'',
				agua:'',
				deuda_cfe:'',
				nombre_contrato_cfe:'',
				ine_con_direccion:1,
				deuda_predial:'',
				plantas:0,
				recamaras:0,
				medio_banio:0,
				m2_terreno:0,
				m2_construccion:0,
				situacion_financiera:'',
				estado_fisico_inmueble:'',
				invadida:0,
				intestada:0,
				demantelada:0,
      },

      // tabla
			search:'',
      clientes: [],
      headers: [
        { text: 'ID'             , value: 'idclientes'               },
        { text: 'Cliente'        , value: 'nombre_completo'          },
        { text: 'Correo'         , value: 'correo'                   },
        { text: 'Proyecto'       , value: 'proyecto'                 },
        { text: 'Teléfono'       , value: 'telefono'                 },
        { text: 'Colonia'        , value: 'colonia'                  },
        { text: 'Sector'         , value: 'sector'                   },
        { text: 'Calle y #'      , value: 'calle_numero'             },
        { text: 'fecha_creacion' , value: 'fecha_creacion'           },
        { text: 'Actions'        , value: 'actions', sortable: false },
      ],

      buscar:'',

      proyectos:[],
      cliente: null,
			dialogAddArchivo: false,

			tipoArchivos:[],
			archivo:null,

			archivosZip:[],

	    dialog: false,
	    dialogDelete: false,
	    dialogVer: false,

	    pdf: null,
			dialogPDF: false,
			datos:[],

	    dialogArchivos:{
	    	estatus: false,
	    },

	    archivos: [],
	    archivo:null,

	    dialogAddArchivo: false,
	    usuarioSeleccionado: null,

	    archivos:null,
	    vistaPrevia: null,
	    file: '',
	    dragging: false,
	    dialgImagen:false,
			url_servidor: '',
			fullscreen: false,
			pdf:null,
			dialogPDF: false,
			
			imagen: null,
			extension:'',
			archivoSeleccionado: null,

			headersArchivos: [
	      { text: "ID"             , value: "idarchivos_empleado", sortable: false },
	      { text: "Tipo de archivo", value: "archivo"              },
	      { text: "Actions"        , value: "actions"              },
	    ],

	    dialogVerArchivos: false

    }),

    computed: {
    	...mapGetters('login',['getdatosUsuario']),
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar Cliente' : 'Editar Cliente'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created () {
      this.url_servidor = this.$http.options.root + 'archivos_empleados/'
      await this.initialize()
      await this.getProyectos()
      await this.getTiposArchivos()
    },

    methods: {
      initialize () {
      	this.cargar = true
        this.clientes = []
        return this.$http.get('clientes.list').then(response=>{
        	this.clientes = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getProyectos(){
				this.cargar = true
        this.proyectos = []
        return this.$http.get('proyectos.get').then(response=>{
        	this.proyectos = response.body.proyectos
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getTiposArchivos(){
				this.cargar = true
        this.tipoArchivos = []
        return this.$http.get('tipo.archivos.list').then(response=>{
        	this.tipoArchivos = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex = this.clientes.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.clientes.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
      	this.cargar = true
        // Lo mandapos por el EP
        this.editedItem.deleted = 1
        this.$http.put('clientes.update/' + this.editedItem.idclientes, this.editedItem).then(response=>{
        	this.cargar = true
        	this.closeDelete()
        	this.initialize()
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      openExpediente( value ){
        this.cargar = true
        this.cliente = value
        return this.$http.get('usuarios.get_archivo_empleado/' + value.idclientes ).then(response=>{
          this.datos   = response.body
          this.cargar  = false
          this.dialogVerArchivos = true
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })

      },

      deletedArchivo ( value ){
        this.cargar = true

        value.deleted = 1 
        return this.$http.put('usuarios.update_archivo_empleado/' + value.idarchivos_empleado, value ).then(response=>{
          this.validarSuccess('Datos cargados correctamente')
          this.vistaPrevia      = null
          this.file             = null
          this.dialogAddArchivo = false
          this.archivo          = null
          this.cargar           = false
          this.openExpediente( this.cliente )
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      save () {
      	if(this.editedItem.horario == ''){
      		this.validarErrorDirecto('Favor de llenar todos los campos')
      	}
      	// Cargamos al usuario que hizo el cambio
	      this.cargar = true

        if (this.editedIndex > -1) {
	        // Lo mandapos por el EP
          this.$http.put('clientes.update/' + this.editedItem.idclientes, this.editedItem).then(response=>{
          	this.validarSuccess( response.body.message )
          	this.initialize()
        		this.close()
	        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })

        } else {
	        // Lo mandapos por el EP
          this.$http.post('clientes.add', this.editedItem).then(response=>{
          	this.initialize()
	        	this.cargar = false
        		this.close()
	        }).catch( error =>{
          	this.validarError( error )
        	}).finally( () => { this.cargar = false })
        }
      },

      async saveArchivos(){
	    	let nombre_archivo = ''

	    	if( this.file ){
	    		nombre_archivo = await this.grabarImagen( )
	    	}

	    	const payload = {
	    		idarchivos: this.archivo, 
	    		idempleados: this.cliente.idclientes, 
	    		documento: nombre_archivo
	    	}

	    	this.cargar = true
	      return this.$http.post('usuarios.add_archivo_empleado', payload ).then(response=>{
	      	this.validarSuccess('Datos cargados correctamente')
	      	this.vistaPrevia      = null
	      	this.file             = null
	      	this.dialogAddArchivo = false
	      	this.archivo          = null
	      	this.cargar           = false
	      	this.initialize()
	      }).catch( error =>{
	        this.validarError( error )
	      }).finally( () => { this.cargar = false })

	    	console.log( payload )
	    },

	    verPDF( value ){
	    	let extension = value.documento.split('.')
	      this.pdf         = value
	      this.extension   = extension[extension.length - 1]
	      this.dialogPDF   = true
	    },

	    descargarZip ( ){
	    	console.log( this.archivosZip )
	    	
	    	const payload = {
	    		archivos: this.archivosZip,
	    		idempleados: this.empleado
	    	}

	    	this.cargar = true
	      return this.$http.post('usuarios.download_archivos', payload ).then(response=>{

	      	window.open( this.$http.options.root + 'archivos_empleados/' + this.empleado +'.zip')

	      	this.validarSuccess('Datos cargados correctamente')
	      }).catch( error =>{
	        this.validarError( error )
	      }).finally( () => { this.cargar = false })


	    },

	    getBase64(file) {
	      var me = this
	      var reader = new FileReader();
	      reader.readAsDataURL(file);
	      reader.onload = function () {

	      	let extension = file.name.split('.')

	        me.vistaPrevia = {
	          url: reader.result, 
	          image_name: file.name,
	          extension: extension[extension.length - 1]
	        }
	      };
	    },
	 
			onChange(e) {
	      var files = e.target.files || e.dataTransfer.files;

	      if (!files.length) {
	        this.dragging = false;
	        return;
	      }
	      
	      this.createFile(files[0]);
	    },

	    createFile(file) {
	      if (file.size > 40000000) {
	        alert('please check file size no over 40 MB.')
	        this.dragging = false;
	        return;
	      }
	      
	      let extension = file.name.split('.')
	      
	      this.file = file;
	      this.extension = extension[extension.length - 1]
	      this.getBase64(this.file)
	      this.dragging = false;
	    },


	    grabarImagen( ){
	      return new Promise((resolve,reject)=>{
	        let formData = new FormData();
	        //se crea el objeto y se le agrega como un apendice el archivo
	        formData.append("file", this.file);

	        this.$http.post("usuarios.add_archivo_servidor", formData).then( response => {
	          resolve( response.body.nombre ) 
	        }).catch( error =>{
	          reject( error )
	        }).finally( () => { this.cargar = false })
	      })
	    },

    },
  }
</script>


<style scoped>
  .dropZone {
    width: 80%;
    height: 150px;
    position: relative;
    border: 2px dashed #eee;
  }

  .dropZone:hover {
    border: 2px solid #D8D8D8;
  }

  .dropZone:hover .dropZone-title {
    color: #1975A0;
  }

  .dropZone-info {
    color: #A8A8A8;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }

  .dropZone-title {
    color: #787878;
  }

  .dropZone input {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .dropZone-upload-limit-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .dropZone-over {
    background: #D8D8D8;
    opacity: 0.8;
  }

  .dropZone-uploaded {
    width: 80%;
    height: 200px;
    position: relative;
    border: 2px dashed #eee;
  }

  .dropZone-uploaded-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D8D8D8;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }

  .removeFile {
    width: 200px;
  }
</style>