<template>
  <v-container class="fill-height">
  
    <v-row align="center" justify="center" class="align-end" align-content="center">
      <v-col cols="12" md="6" lg="4" xl="3" align="center" justify="center">
        <v-card class="elevation-10 shadowCard">
          <v-card-title primary-title>
            <v-spacer></v-spacer>
            <v-img src="https://mudity.com/wp-content/uploads/2016/12/Mudiweb.png" contain max-width="250"></v-img>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-divider class="ma-4"></v-divider>

          <v-form 
            ref="form"
            v-model="valid"
            lazy-validation>
            <v-card-text class="pb-0">
              <v-text-field
                dense
                prepend-inner-icon="mdi-account"
                label="Usuario"
                v-model="usuario"
                clearable
                dense
                :rules="[v => !!v || 'Item is required']"
                filled
                rounded
              ></v-text-field>
              <v-text-field
                dense
                prepend-inner-icon="mdi-lock"
                label="Contraseña"
                v-model="password"
                clearable
                dense
                :rules="[v => !!v || 'Item is required']"
                filled
                rounded
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                @click:append="showPassword = !showPassword"
                @keyup.enter="validate()"
              ></v-text-field>
            </v-card-text>
            <v-card-actions class="px-4 pb-6">
              <v-btn rounded block class="btn-login2" @click="validate()" dark>Iniciar sesión</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-row>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>


<script>
  import {mapActions , mapGetters} from 'vuex'

  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'

  export default {

    components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores, funcionesExcel],


    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      cargar: false,

      password: '',
      usuario:'',

      valid: true,
      rules: {
        required: value => !!value || 'Requerido.'
      },
      showPassword: false,

    }),

    computed:{
      ...mapGetters('login',['getUsuarioCapa', 'getLogeadoMudity']),
    },

    created(){
      if(this.getLogeadoMudity){
        this.$router.push({name: 'Home'})
      }
    },

    methods:{
      ...mapActions('login',['guardarInfo','salirLogin']),

      validate () {
        if(this.$refs.form.validate()){
          this.cargar = true

          var usuario = { usuario : this.usuario, password: this.password}
          this.$http.post('login.get',usuario).then((response) => {
            this.cargar = false
            this.acceso = true
            this.datos_usuario = response.body
            this.guardarInfo(this.datos_usuario)
            this.$router.push({name: 'Home'})
          }).catch( error =>{
            this.validarError( error )
          }).finally( () => { this.cargar = false })
        }
      }
 
    }
  }
</script>

<style scoped>

  .btn-login2{
    background: rgb(255,4,4);
    background: linear-gradient(142deg, rgba(255,4,4,1) 0%, rgba(46,40,40,1) 80%);
  }
  
  
</style>


  