<template>
	<v-dialog
    v-model="dialogSecciones.estatus"
    hide-overlay
    persistent
    fullscreen
  >
    <v-card>
      <v-card-title primary-title class="primary white--text" dark>
        Secciones del proyecto
        <v-spacer></v-spacer>
        <v-btn icon @click="dialogSecciones.estatus = false">
        	<v-icon color="white">mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="mt-4 pa-1">
       	<v-tabs  v-model="tabs">
        	<v-tab class="text-capitalize" v-for="(tab, i) in menu" :key="i">
		        <v-icon left v-text="tab.icono"></v-icon>
		        {{ tab.text }}
		      </v-tab>

		      <!-- información del grupo -->
		      <v-tab-item>
		        <v-card flat>
		          <v-card-text class="pa-0">
		          	<InfoCliente  v-if="tabs == 0" :editedItem="editedItem" @click="initialize()"/> 
			        </v-card-text>
		        </v-card>
		      </v-tab-item>

		      <!-- Tutro -->
		      <v-tab-item>
		        <v-card flat>
		          <v-card-text class="pa-0">
		            <Configuracion v-if="tabs == 1" :editedItem="editedItem"/>
		          </v-card-text>
		        </v-card>
		      </v-tab-item>

		      <!-- Grupos -->
		      <v-tab-item>
		        <v-card flat>
		          <v-card-text class="pa-0">
		            <Eventos  v-if="tabs == 2" :editedItem="editedItem"/>
		          </v-card-text>
		        </v-card>
		      </v-tab-item>

		      <!-- Becas -->
		      <v-tab-item>
		        <v-card flat>
		          <v-card-text class="pa-0">
		            <Actividades  v-if="tabs == 3" :editedItem="editedItem"/>
		          </v-card-text>
		        </v-card>
		      </v-tab-item>
		    </v-tabs>
      </v-card-text>
    </v-card>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-dialog>
</template>
<script>

	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import { mapGetters, mapActions }  from 'vuex';
  import funcionesExcel        from '@/mixins/funcionesExcel'

  import InfoCliente    from '@/components/proyectos_usuario/InfoCliente.vue'
  import Configuracion  from '@/components/proyectos_usuario/Configuracion.vue'
  import Eventos        from '@/components/proyectos_usuario/Eventos.vue'
  import Actividades    from '@/components/proyectos_usuario/Actividades.vue'


	export default {

		components:{
      Alerta,
      carga,
      InfoCliente,
      Configuracion,
      Eventos,
      Actividades
    },

    mixins: [ validarErrores, funcionesExcel ],

		props:[
			'dialogSecciones',
			'editedItem'
	  ],

    computed: {
      ...mapGetters('login', ['getdatosUsuario', 'getLogeadoMudity', 'getEscuela','drawer2','getEstatusLlamada','getNuevosProspectos']),
    },

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

    	tabs: 0, 

    	menu:[
    		{text:'Cliente'          , icono:'mdi-account'},
    		{text:'Etapas'           , icono:'mdi-account'},
    		{text:'Eventos'          , icono:'mdi-folder-open'},
    		{text:'Actividades'      , icono:'mdi-clipboard-check'},
    	],

      respuestaAlerta:false,
      loader: true,
      cargar: false,

			colaboradoresList:[],

      headerColaboradores: [
        { text: 'Folio'      , value: 'idformulario'     },
        { text: 'Nombres'    , value: 'nombres'          },  
        { text: 'Apellido P.', value: 'apellido_paterno' },  
        { text: 'Apellido M.', value: 'apellido_materno' },  
      ],
      search:'',
    }),

    created(){
    	// this.initialize()
    },


    methods:{
    	initialize(idformulario){
    		this.colaboradoresList = []
        // Hacer la peticion de los datos
        this.$http.get('dialogSecciones.list').then((response) => {
        	this.colaboradoresList = response.body
        }).catch(error=>{
          this.validError( error )
        }).finally(()=> { this.overlay = false })
      },

      cerrar(){
      	this.dialogSecciones.estatus = false
      },

      exportar( ){

        this.exportExcel( this.prospectosCerrados  , 'prospectosCerrados')
      }
    }
	}
</script>
