<template>
  <v-container fluid fill-height>
  	<v-row justify="center">
  		<v-col cols="12" md="6" lg="4">
	      <v-img  src="https://mudity.com/wp-content/uploads/2016/12/Mudiweb.png" contain aspect-ratio="2">
	      </v-img>
  		</v-col>
  	</v-row>
  </v-container>
</template>

<script>

  import { mapGetters } from 'vuex'

  export default {
    data(){
      return{
        socket: null,
      }
    },

    async created () {
    },

    computed:{
      tamanioPantalla () {
        switch (this.$vuetify.breakpoint.name) {
          case 'xs':
            return 'auto';
          break;
          default:
            return this.$vuetify.breakpoint.height - 90
          break;
        }
      },
    },

    methods:{
    }
  }

</script>

<style scoped>
</style>