<template>
  <v-container class="mt-4 ml-2" fluid>
  	<v-card>
  		<v-card-title primary-title>
		  	<div>PROSPECTOS INBI</div>
  		</v-card-title>
		  <v-row>
		  	<v-col cols="12">
		  		<v-stepper v-model="e1"  class="elevation-0">
				    <v-stepper-header class="elevation-0">
				      <v-stepper-step
				        :complete="e1 > 1"
				        step="1"
				      >
				        Prospectos
				      </v-stepper-step>

				      <v-divider></v-divider>

				      <v-stepper-step
				        :complete="e1 > 2"
				        step="2"
				      >
				        Campañia
				      </v-stepper-step>

				      <v-divider></v-divider>

				      <v-stepper-step step="3">
				        Enviar
				      </v-stepper-step>
				    </v-stepper-header>

				    <v-stepper-items>

				    	<!-- Primer estep -->
				      <v-stepper-content step="1">
				        <v-card class="mb-12 elevation-0">
				        	<v-data-table
								    v-model="selected"
								    :headers="headers"
								    :items="prospectos"
								    item-key="folio"
								    show-select
								    class="elevation-0"
								    dense
								  >
								  </v-data-table>
				        </v-card>

				        <v-btn
				          color="primary"
				          @click="e1 = 2"
				          v-if="selected.length > 0"
				        >
				          Continuar
				        </v-btn>
				      </v-stepper-content>

				      <!-- Segundo step -->
				      <v-stepper-content step="2">
				        <v-card class="mb-12 elevation-0" >
				        	<v-row justify="center">
					        	<!-- Imagen -->
					        	<v-col cols="12" md="6" lg="6">
							        <input id="fileUpload" type="file" hidden @change="cargarFoto" accept="image/*" v-if="!file">
					        			<v-card height="100%" class="elevation-0" align="center" outlined @click="chooseFiles()" v-if="!file">
					        		  	<v-img src="@/assets/agregar_foto.jpg" contain  max-width="380" aspect-ratio="2"></v-img>
					        			</v-card>
							   		 	</input>

			        		  	<v-img :src="fotoCargada.foto" contain aspect-ratio="2" v-if="file && fotoCargada" style="height: 100%;">
			        					<v-btn color="red" fab dark small absolute button right @click="file = null"><v-icon>mdi-delete</v-icon></v-btn>
			        		  	</v-img>
					        	</v-col>
				        	</v-row>
				        </v-card>

				        <v-btn
				          color="primary"
				          @click="grabarImagen()"
				          v-if="file && fotoCargada"
				        >
				          Continuar
				        </v-btn>

				        <v-btn text  @click="e1 = 1" class="ml-2">
				          Regresar
				        </v-btn>
				      </v-stepper-content>

				      <v-stepper-content step="3">
				        <v-card class="mb-12 elevation-0 mt-2">
				        	<v-row>
				        		<v-col cols="12" md="5" lg="4">
						        	<v-text-field
						        	  name="name"
						        	  v-model="titulo"
						        	  label="Asunto del correo"
						        	  outlined
						        	></v-text-field>
				        		</v-col>
				        	</v-row>
				        </v-card>

				        <v-btn
				          color="primary"
				          @click="enviarCorreos()"
				          v-if="titulo != ''"
				        >
				          Enviar
				        </v-btn>

				        <v-btn text @click="e1 = 2" class="ml-2">
				          Regresar
				        </v-btn>
				      </v-stepper-content>
				    </v-stepper-items>
				  </v-stepper>
		  	</v-col>
		  </v-row>
  	</v-card>

	  <!-- Dialogo para indicar que todo esta correcto -->
	  <v-dialog
      v-model="dialogSuccess"
      hide-overlay
      max-width="400"
    >
      <v-card>
      	<v-card-text>
	      	<v-row>
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="" style="display: table-cell; vertical-align: middle;">
		      				<strong>¡Bien!</strong> Datos grabados correctamente
			      			<v-card-actions class="pt-6">
			      				<v-spacer></v-spacer>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="green" dark class="elevation-6" large @click="dialogSuccess = false">Ok</v-btn>
			      				<v-spacer></v-spacer>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
	      		<v-col cols="6">
	      			<v-img src="@/assets/correcto.png"></v-img>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialogo para indicar errores -->
    <v-dialog
      v-model="dialogError"
      persistent
      max-width="400"
    >
      <v-card>
      	<v-card-text>
	      	<v-row>
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="" style="display: table-cell; vertical-align: middle;">
		      				<span v-if="errorBack">
		      					<strong>ERROR</strong> Da clic en "COPIAR" para guardar el error y enviarlo a sistemas
		      				</span>
		      				<span v-else>
		      					<strong>ERROR</strong> {{error}}
		      				</span>
			      			<v-card-actions class="pt-6">
			      				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
			      			  <v-btn color="error" text large class="mr-2" @click="dialogError = false">Cerrar</v-btn>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="#D60F24" dark class="elevation-6" large @click="copiarPortapapeles()" v-if="errorBack">{{textoCopiado}}</v-btn>
			      			  <v-btn color="#D60F24" dark class="elevation-6" large @click="dialogError = false" v-else>Ok</v-btn>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
	      		<v-col cols="6">
	      			<v-img src="@/assets/eliminar.png"></v-img>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <v-overlay :value="overlay">
      <v-card
        width="300"
        color="primary"
        dark
      >
        <v-card-text  class="text-subtitle-1">
          Cargando...
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0 mt-2"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-overlay>

	</v-container>
</template>
<script>
  export default {
    data: () => ({
      e1: 1,
      titulo:'',
      singleSelect: false,
      selected: [],
      headers: [
        { text: 'Folio',           value: 'folio' },
        { text: 'Nombre',          value: 'nombre_completo', },
        { text: 'Teléfono',        value: 'telefono' },
        { text: 'Email',           value: 'correo' },
        { text: 'Fecha',           value: 'fecha_creacion' },
      ],
      prospectos: [],

      dialogSuccess:false,
      overlay: false,
      dialogError: 	false,
			error: 				'',
			successMensaje:'',
			errorBack:false,
      textoCopiado:'COPIAR',
      dialogDelete: false,
      search:'',

      fotoCargada:null,
      file: null,

      nombreArchivo:'',
    }),

    async created() {
    	await this.getRemarketing();
    },

    methods: {
    	// Funcion para cargar las etapas
    	getRemarketing() {
    		this.overlay = true
    		this.prospectos  = []
        return this.$http.get('prospectos.remaketing/1').then((response) => {
        	// Llenamos la etapa incial
         	this.prospectos = response.body
         	this.overlay = false
        }).catch(error=>{
        	// Indicamos que hay un error en el back
        	if(error.body.message){
        		this.error = error.body.message
        	}else{
        		this.error = error.body
        	}
        	this.errorBack = true
        	this.overlay = false
        	this.dialogError = true
        })
      },

      chooseFiles() {
        document.getElementById("fileUpload").click()
    	},

			// Cargar tofo
      cargarFoto(e){
      	// Verificamos que haya un archivo
      	if(e.target.files.length > 0){
      		// guardamos el archivo seleccionado
					this.file = e.target.files[0]
					// creamos una variable tipo FormData
	        let formData = new FormData();
	        //se crea el objeto y se le agrega como un apendice el archivo 
	        formData.append('file', this.file);
	        //mandamos a ocvertir la imagen a base64 pero mandamos el docuemnto, el formdata, el nombre
	        this.getBase64(this.file, formData, this.file.name)
      	}
			},

			getBase64(archivo,formData,name) {
        var me = this
        // Creamos la variable de lectura
        var reader = new FileReader();
        // leemos el archivos
        reader.readAsDataURL(archivo);
        reader.onload =  function(){
          // Agregamos la foto cargada al arreglo que vamos a mostrar arriba en la pantalla
          me.fotoCargada = {
            foto: reader.result,
            formdata: formData,
          }
        }
      },

      grabarImagen(){
      	this.overlay = true
      	this.$http.post('prospectos.imagen.campania', this.fotoCargada.formdata ).then(response=>{
          this.nombreArchivo = response.body.nombreTemp
          this.e1 = 3
          this.overlay = false
        }).catch(error=>{
        	if(error.status == 400){
        		this.error = error.body.message
        		this.errorBack = false
	        	this.overlay = false
	        	this.dialogError = true
        	}else{
	        	this.errorBack   = true
	        	this.overlay     = false
	        	this.dialogError = true
        	}
        })
      },


			copiarPortapapeles () {
        navigator.clipboard.writeText(this.error).then(() => {
          this.textoCopiado = 'COPIADO'
        }).catch(err => {
          console.log('Something went wrong', err);
        })
      },

      enviarCorreos(){
      	let payload = {
      		correo:{
      			titulo: this.titulo,
      			nombreArchivo: this.nombreArchivo,
      			escuela: 1	
      		},
      		correos: this.selected
      	}

      	this.overlay = true
      	this.$http.post('prospectos.enviar.campania', payload ).then(response=>{
      		this.selected = []
          this.overlay = false
          this.dialogSuccess = true
          this.e1 = 1
        }).catch(error=>{
        	if(error.status == 400){
        		this.error = error.body.message
        		this.errorBack = false
	        	this.overlay = false
	        	this.dialogError = true
        	}else{
	        	this.errorBack   = true
	        	this.overlay     = false
	        	this.dialogError = true
        	}
        })

      }
    }
  }
</script>