<template>
	<v-container class="mt-4 ml-2" fluid>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="shadowCard">
	  		  <v-card-title primary-title>
	  		    <span class="text-subtitle-1">Proyectos</span>
	  		    <v-spacer></v-spacer>
            <v-btn 
              class="mr-2" 
              small dark color="green"
              @click="exportExcel( proyectos  , 'proyectos')"
              tile
            >
              <v-icon small>mdi-microsoft-excel</v-icon>
            </v-btn>

	  		    <v-btn
              color="orange"
              dark
              class="mr-2"
              @click="dialog = true"
              small
              tile
            >
              <v-icon left small>mdi-plus</v-icon>
              Agregar
            </v-btn>

            <v-btn
              color="primary"
              dark
              class="text-capitalize"
              @click="initialize()"
              small
              tile
            >
              <v-icon left small>mdi-refresh</v-icon>
              Actualizar
            </v-btn>
	  		  </v-card-title>
          
	  		  <v-card-text>
	  		  	<v-row justify="end">
	  		  		<v-col cols="12" md="6">
	  		  			<v-text-field
	  		  			  name="name"
	  		  			  label="Buscar"
	  		  			  id="id"
	  		  			  filled
	  		  			  dense
	  		  			  hide-details
	  		  			  append-icon="mdi-magnify"
	  		  			  v-model="search"
	  		  			></v-text-field>
	  		  		</v-col>
	  		  	</v-row>
	  		    <v-row>
	  		    	<v-col cols="12">
							  <v-data-table
							    :headers="headers"
							    :items="proyectos"
							    class="elevation-0"
							    :search="search"
							    :page.sync="page"
			            @page-count="pageCount = $event"
							    :mobile-breakpoint="100"
			            hide-default-footer
			            dense
							  >
							    <!-- Valores que ocupan botons, chips, iconos, etc -->
							    <template v-slot:item.activo_sn="{ item }">
							      <v-chip 
							      	v-if="item.activo_sn == 1"
							      	small
							      	color="green"
							      	dark
							      >Si</v-chip>

							      <v-chip 
							      	v-else
							      	small
							      	color="error"
							      	dark
							      >No</v-chip>
							    </template>

                  <template v-slot:item.progreso="{ item }">
                    <template>
                      <v-progress-linear value="15"></v-progress-linear>
                    </template>
                  </template>

                  <template v-slot:item.actividades="{ item }">
                    25 / 103
                  </template>

                  <template v-slot:item.color="{ item }">
                    <v-chip 
                      small
                      :color="item.color"
                      dark
                    >
                      {{ item.color }}
                    </v-chip>
                  </template>

                  <template v-slot:item.url_foto="{ item }">
                    sin foto
                  </template>
							  
							    <template v-slot:item.actions="{ item }">
							    	<v-btn 
							    		color="primary" 
							    		x-small
							    		@click="editItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small>mdi-magnify</v-icon>
							    	</v-btn>

							    	<v-btn 
							    		color="error" 
							    		x-small
							    		@click="deleteItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small> mdi-delete</v-icon>
							    	</v-btn>

                    <v-btn 
                      color="blue"
                      dark 
                      x-small
                      @click="dialogHistorial = true"
                      class="mr-2"
                    >
                      <v-icon small> mdi-file</v-icon>
                    </v-btn>
							    </template>

							    <template v-slot:no-data>
							      <v-btn
							        color="primary"
							        @click="initialize"
							        small
							      >
							        Actualizar
							      </v-btn>
							    </template>

							  </v-data-table>
	  		    	</v-col>
	  		    </v-row>
	  		  </v-card-text>
	  		  <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :length="pageCount"
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <!-- Dialogo de editar o agregar-->
	  <v-dialog
      v-model="dialog"
      max-width="400px"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-subtitle-1">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <span class="text-subtitle-1">
          	<strong>ID: {{ editedItem.idusuarios }}</strong>
          </span>
        </v-card-title>

        <v-card-text>
          <v-row>
          	<v-col cols="12">
              <v-autocomplete
                dense
                filled
                clearable
                v-model="editedItem.idusuarios"
                :items="usuarios"
                label="Usuarios"
                item-text="nombre_completo"
                item-value="idusuarios"
              >
              </v-autocomplete>
            </v-col>


            <v-col cols="12">
              <v-autocomplete
                dense
                filled
                clearable
                v-model="editedItem.idetapas"
                :items="etapas"
                label="Etapa"
                item-text="etapa"
                item-value="idgrupos"
              >
              </v-autocomplete>
            </v-col>

          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="black"
            tile
            small
            dark
            @click="close"
          >
          	<v-icon small left>mdi-cancel</v-icon>
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            tile
            small
            dark
            @click="save"
          >
          	<v-icon small left>mdi-content-save</v-icon>
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog ver Historial -->
    <v-dialog
      v-model="dialogHistorial"
      max-width="600px"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-subtitle-1">Ver evidencia</span>
        </v-card-title>

        <v-card-text>
          <v-timeline
            align-top
            dense
          >
            <v-timeline-item
              color="pink"
              small
            >
              <v-row class="pt-1">
                <v-col cols="3">
                  <strong>2023-09-12</strong>
                </v-col>
                <v-col>
                  <strong>Asistecia a la notaría</strong>
                  <div class="text-caption">
                    Se recogió la papelería de la notaria
                  </div>
                </v-col>
              </v-row>
            </v-timeline-item>

            <v-timeline-item
              color="teal lighten-3"
              small
            >
              <v-row class="pt-1">
                <v-col cols="3">
                  <strong>2023-09-13</strong>
                </v-col>
                <v-col>
                  <strong>Junsta con cliente</strong>
                  <div class="text-caption mb-2">
                    Se reunió toda la papeleria del cliente
                  </div>

                  <v-row>
                    <v-col cols="12" md="4">
                      <v-img
                        max-width="100"
                        src="https://www.eluniversal.com.mx/resizer/k9xiA1SiC_R5ls00ZTwAXQ0ZYv0=/1100x666/cloudfront-us-east-1.images.arcpublishing.com/eluniversal/NSE3JREP6JBVNDOABBOSEKEXEA.jpg"
                      ></v-img>
                    </v-col>

                    <v-col cols="12" md="4">
                      <v-img
                        max-width="100"
                        src="https://imgv2-2-f.scribdassets.com/img/document/563227784/original/e9ba0d5073/1695058662?v=1"
                      ></v-img>
                    </v-col>

                    <v-col cols="12" md="4">
                      <v-img
                        max-width="100"
                        src="https://tvazteca.brightspotcdn.com/dims4/default/7d19c64/2147483647/strip/true/crop/1080x627+0+0/resize/928x539!/format/jpg/quality/80/?url=http%3A%2F%2Ftv-azteca-brightspot.s3.amazonaws.com%2F60%2F89%2Ffada5d1947ba9aa60854a306d0d9%2F3-1.jpg"
                      ></v-img>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-timeline-item>

            <v-timeline-item
              color="pink"
              small
            >
              <v-row class="pt-1">
                <v-col cols="3">
                  <strong>12pm</strong>
                </v-col>
                <v-col>
                  <strong>Lunch break</strong>
                </v-col>
              </v-row>
            </v-timeline-item>

            <v-timeline-item
              color="teal lighten-3"
              small
            >
              <v-row class="pt-1">
                <v-col cols="3">
                  <strong>9-11am</strong>
                </v-col>
                <v-col>
                  <strong>Finish Home Screen</strong>
                  <div class="text-caption">
                    Web App
                  </div>
                </v-col>
              </v-row>
            </v-timeline-item>
          </v-timeline>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="black"
            dark
            small
            @click="dialogHistorial = false"
            tile
            dense
          >
            <v-icon left small>mdi-close</v-icon>
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            small
            dark
            @click="save"
            tile
          >
            <v-icon left small>mdi-content-save</v-icon>
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialogo para eliminar -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
      	<v-card-text>
	      	<v-row justify="space-around">
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="text-subtitle-1" style="display: table-cell; vertical-align: middle;">
		      				<strong>Eliminar</strong> ¿Estás seguro que deseas eliminar el ciclo?
			      			<v-card-actions class="pt-6">
			      				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
			      			  <v-btn color="error" text  class="mr-2" @click="closeDelete()">No, cancelar</v-btn>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="#5C5C5C"  dark class="elevation-6"  @click="deleteItemConfirm()">Si</v-btn>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
	      		<v-col cols="5">
	      			<v-img src="@/assets/borrar.png"></v-img>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

    <SeccionesProyectos               
      v-if="dialogSecciones.estatus"            
      :dialogSecciones="dialogSecciones"
      :editedItem="editedItem"
    />

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

	</v-container>
</template>
<script>
	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'

  import SeccionesProyectos    from '@/views/proyectos/SeccionesProyectos.vue';

  export default {

    mixins: [ validarErrores, funcionesExcel],


  	components:{
      Alerta,
      carga,
      SeccionesProyectos
    },

    data: () => ({
    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialog: false,
      dialogDelete: false,
      
      editedIndex: -1,

      editedItem: {
        idproyectos:0,
				puesto:'',
				fecha_creacion:null,
				deleted:0,
      },

      defaultItem: {
        idproyectos:0,
				puesto:'',
				fecha_creacion:null,
				deleted:0,
      },

      dialogSecciones: {
        estatus: false
      },

      // Filtros: 
      incio:null,
			fin:null,

      // tabla
			search:'',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      proyectos: [],
      headers: [
        { text: 'ID'              , value: 'idproyectos'              },
        { text: 'Proyecto'        , value: 'proyecto'                 },
        { text: 'Estatus'         , value: 'estatus'                  },
        { text: 'Color'           , value: 'color'                    },
        { text: 'Foto'            , value: 'url_foto'                 },
        { text: 'fecha_creacion'  , value: 'fecha_creacion'           },
        { text: '#Actividades'    , value: 'actividades'              },
        { text: 'Progreso'        , value: 'progreso'                 },
        { text: 'Actions'         , value: 'actions', sortable: false },
      ],

      etapas:[],
      etapa: null,

      usuarios:[],
      usuario: null,

      dialogHistorial: false,

    }),

    computed: {
    	...mapGetters('login',['getdatosUsuario']),
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar usuario' : 'Editar usuario'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created () {
      await this.initialize()
      await this.getEtapas()
      await this.getUsuarios()
    },

    methods: {
      initialize () {
      	this.cargar = true
        this.proyectos = []
        return this.$http.get('proyectos.get').then(response=>{
        	this.proyectos = response.body.proyectos
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getUsuarios () {
        this.cargar = true
        this.usuarios = []
        return this.$http.get('usuarios.get').then(response=>{
          this.usuarios = response.body.usuarios
          this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex             = this.proyectos.indexOf(item)
        this.editedItem              = Object.assign({}, item)
        this.dialogSecciones.estatus = true
      },

      deleteItem (item) {
        this.editedIndex = this.proyectos.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
      	this.cargar = true
        // Lo mandapos por el EP
        this.editedItem.deleted = 1
        this.$http.delete('proyectos/' + this.editedItem.idproyectos, this.editedItem).then(response=>{
        	this.cargar = true
        	this.closeDelete()
        	this.initialize()
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      getEtapas () {
        this.cargar = true
        this.etapas = []
        return this.$http.get('grupos.get').then(response=>{
          this.etapas = response.body.grupos
          this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      save () {
      	if(this.editedItem.horario == ''){
      		this.validarErrorDirecto('Favor de llenar todos los campos')
      	}
      	// Cargamos al usuario que hizo el cambio
	      this.cargar = true

        if (this.editedIndex > -1) {
	        // Lo mandapos por el EP
          this.$http.put('proyectos/' + this.editedItem.idproyectos, this.editedItem).then(response=>{
          	this.validarSuccess( response.body.message )
          	this.initialize()
	        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })

        } else {
	        // Lo mandapos por el EP
          this.$http.post('proyectos', this.editedItem).then(response=>{
          	this.initialize()
	        	this.cargar = false
	        }).catch( error =>{
          	this.validarError( error )
        	}).finally( () => { this.cargar = false })
        }
        this.close()
      },
    },
  }
</script>


