<template>
	<v-container class="ma-0">
	  <v-card class="transparent elevation-0">
      <v-card-title>
        <span class="text-subtitle-1"><b>Actividades programadas</b></span>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-card-text>
        <v-row>
        	<v-col cols="12" md="6" lg="4" v-for="(task , i) in tasks" :key="i">
            <v-card class="shadowCard red-border" >
					    <v-card-title class="text-subtitle-1">
					      <b>{{ task.title }}</b>
					    </v-card-title>
					    <v-card-text>
					      {{ task.description }}
					    </v-card-text>
					    <v-card-actions>
					      <v-icon color="primary" left>mdi-calendar</v-icon>
					      {{ task.date }}
					      <v-spacer></v-spacer>
					      <v-avatar
					        size="25"
					        class="mr-2"
					      >
					        <v-img
				            :src="avatar + task.username"
				          ></v-img>
					      </v-avatar>
					      {{ task.username }}
					    </v-card-actions>
					  </v-card>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>
    
	</v-container>	
</template>
<script>

	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import { mapGetters, mapActions }  from 'vuex';
  import funcionesExcel        from '@/mixins/funcionesExcel'

  import InfoCliente    from '@/components/proyectos/InfoCliente.vue'


	export default {

		components:{
      Alerta,
      carga,
      InfoCliente
    },

    mixins: [ validarErrores, funcionesExcel ],

		props:[
			'dialogSecciones',
			'editedItem'
	  ],

    computed: {
      ...mapGetters('login', ['getdatosUsuario', 'getLogeadoMudity', 'getEscuela','drawer2','getEstatusLlamada','getNuevosProspectos']),
    },

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

    	cliente: null,
      search:'',

      tasks: [
      	{
        	title: "Llevar papeleria",
        	description: "Llevar copias de toda la papeleria solicitada",
        	date: "2023-10-15",
        	username: "Usuario1",
      	},
      	{
        	title: "Junta con el cliente",
        	description: "Llevar carta poder y propuesta",
        	date: "2023-10-16",
        	username: "Usuario2",
      	},
       	{
        	title: "Entrega de llaves",
        	description: "Llevar carta poder y propuesta",
        	date: "2023-10-16",
        	username: "Usuario2",
      	},
      ],

    	avatar: "",


    }),

    created(){
    this.avatar ="https://ui-avatars.com/api/?background=2E2828&color=fff&rounded=true&format=svg&name=";
    	this.initialize()
    },


    methods:{
    	initialize(idformulario){
    		this.cargar = true
        // Hacer la peticion de los datos
        this.$http.get('clientes.id/' + this.editedItem.idproyectos).then((response) => {
        	this.cargar = false
        	this.cliente = response.body
        }).catch(error=>{
          this.validarError( error )
        }).finally(()=> { this.overlay = false })
      },
    }
	}
</script>
<style scoped>
	.red-border {
	  border-left: 10px solid #cc0606 ; /* Puedes ajustar el ancho del borde según tus preferencias */
	}
</style>