<template>
	<v-container class="ma-0">
    <v-card class="transparent elevation-0">
      <v-card-title>
        <span class="text-subtitle-1"><b>Configuración del proyecto</b></span>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-card-text>
        <v-data-table
		      :headers="headers"
		      :items="desserts"
		      :items-per-page="desserts.length"
		      hide-default-footer
		    >
		      <template v-slot:item.calories="props">
		        <v-edit-dialog
		          :return-value.sync="props.item.calories"
		          @save="save"
		          @cancel="cancel"
		          @open="open"
		          @close="close"
		          large
		          save-text="Guardar"
		          cancel-text="Cancelar"
		        >
		          {{ props.item.calories }}

		          <template v-slot:input>
                <v-autocomplete
                  filled
                  clearable
                  v-model="props.item.calories"
                  :items="usuarios"
                  label="Usuario"
                  item-text="nombre_completo"
                  item-value="nombre_completo"
                  hide-details
                  class="mt-2"
                >
                </v-autocomplete>
		          </template>

		        </v-edit-dialog>
		      </template>
		    </v-data-table>
      </v-card-text>
    </v-card>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>
    
	</v-container>	
</template>
<script>

	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import { mapGetters, mapActions }  from 'vuex';
  import funcionesExcel        from '@/mixins/funcionesExcel'

  import InfoCliente    from '@/components/proyectos/InfoCliente.vue'


	export default {

		components:{
      Alerta,
      carga,
      InfoCliente
    },

    mixins: [ validarErrores, funcionesExcel ],

		props:[
			'dialogSecciones',
			'editedItem'
	  ],

    computed: {
      ...mapGetters('login', ['getdatosUsuario', 'getLogeadoMudity', 'getEscuela','drawer2','getEstatusLlamada','getNuevosProspectos']),
    },

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

    	cliente: null,
      search:'',

      snack: false,
      snackColor: '',
      snackText: '',
      headers: [
        { text: 'Etapa', align: 'start', sortable: false, value: 'name' },
        { text: 'Usuario', value: 'calories' },
      ],
      desserts: [
        {
          name: 'Completar Expediente',
          calories: 'Usuario 1',
        },
        {
          name: 'Solución de Situación Legal',
          calories: 'Usuario 2',
        },
        {
          name: 'Remodelación',
          calories: 'Usuario 3',
        },
        {
          name: '	Disponible para Venta',
          calories: 'Usuario 4',
        },
        {
          name: 'Vendido/SEPARADO',
          calories: 'Usuario 5',
        },
        {
          name: 'Pre-remodelación (PARA AVALÚO)',
          calories: 'Usuario 6',
        },
        {
          name: 'Trámite de Compra-venta',
          calories: 'Usuario 7',
        },
        {
          name: '	PAGO DE COMISIONES',
          calories: 'Usuario 8',
        },
        {
          name: 'REMODELACION FINAL Y Entrega de Vivienda',
          calories: 'Usuario 3',
        },
        {
          name: 'Fiscal',
          calories: 'Usuario 3',
        },
        {
          name: 'FINANZAS',
          calories: 'Usuario 6',
        },
      ],

      usuarios:[],

    }),

    created(){
    	this.avatar ="https://ui-avatars.com/api/?background=2E2828&color=fff&rounded=true&format=svg&name=";
    	this.initialize()
    },


    methods:{

      initialize( ){
        this.cargar = true
        this.usuarios = []
        return this.$http.get('usuarios.get').then(response=>{
          this.usuarios = response.body.usuarios
          console.log( this.usuarios )
          this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

    	save () {
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Data saved'
      },
      cancel () {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = 'Canceled'
      },
      open () {
        this.snack = true
        this.snackColor = 'info'
        this.snackText = 'Dialog opened'
      },
      close () {
        console.log('Dialog closed')
      },
    }
	}
</script>
<style scoped>
	.red-border {
	  border-left: 10px solid #cc0606; /* Puedes ajustar el ancho del borde según tus preferencias */
	}
</style>