<template>
	<v-container class="ma-0">
	  <v-card class="transparent elevation-0">
      <v-card-title>
        <span class="text-subtitle-1">Evidencias</span>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-card-text v-if="cliente">
        <v-row>
        	<v-col cols="12" md="6" lg="6">
	          <v-timeline
	            align-top
	            dense
	          >
	            <v-timeline-item
	              color="pink"
	              small
	            >
	              <v-row class="pt-1">
	                <v-col cols="3">
	                  <strong>2023-09-12</strong>
	                </v-col>
	                <v-col>
	                  <strong>Asistecia a la notaría</strong>
	                  <div class="text-caption">
	                    Se recogió la papelería de la notaria
	                  </div>
	                </v-col>
	              </v-row>
	            </v-timeline-item>

	            <v-timeline-item
	              color="teal lighten-3"
	              small
	            >
	              <v-row class="pt-1">
	                <v-col cols="3">
	                  <strong>2023-09-13</strong>
	                </v-col>
	                <v-col>
	                  <strong>Junsta con cliente</strong>
	                  <div class="text-caption mb-2">
	                    Se reunió toda la papeleria del cliente
	                  </div>

	                  <v-row>
	                    <v-col cols="12" md="4">
	                      <v-img
	                        max-width="100"
	                        src="https://www.eluniversal.com.mx/resizer/k9xiA1SiC_R5ls00ZTwAXQ0ZYv0=/1100x666/cloudfront-us-east-1.images.arcpublishing.com/eluniversal/NSE3JREP6JBVNDOABBOSEKEXEA.jpg"
	                      ></v-img>
	                    </v-col>

	                    <v-col cols="12" md="4">
	                      <v-img
	                        max-width="100"
	                        src="https://imgv2-2-f.scribdassets.com/img/document/563227784/original/e9ba0d5073/1695058662?v=1"
	                      ></v-img>
	                    </v-col>

	                    <v-col cols="12" md="4">
	                      <v-img
	                        max-width="100"
	                        src="https://tvazteca.brightspotcdn.com/dims4/default/7d19c64/2147483647/strip/true/crop/1080x627+0+0/resize/928x539!/format/jpg/quality/80/?url=http%3A%2F%2Ftv-azteca-brightspot.s3.amazonaws.com%2F60%2F89%2Ffada5d1947ba9aa60854a306d0d9%2F3-1.jpg"
	                      ></v-img>
	                    </v-col>
	                  </v-row>
	                </v-col>
	              </v-row>
	            </v-timeline-item>

	            <v-timeline-item
	              color="pink"
	              small
	            >
	              <v-row class="pt-1">
	                <v-col cols="3">
	                  <strong>12pm</strong>
	                </v-col>
	                <v-col>
	                  <strong>Lunch break</strong>
	                </v-col>
	              </v-row>
	            </v-timeline-item>

	            <v-timeline-item
	              color="teal lighten-3"
	              small
	            >
	              <v-row class="pt-1">
	                <v-col cols="3">
	                  <strong>9-11am</strong>
	                </v-col>
	                <v-col>
	                  <strong>Finish Home Screen</strong>
	                  <div class="text-caption">
	                    Web App
	                  </div>
	                </v-col>
	              </v-row>
	            </v-timeline-item>
	          </v-timeline>
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-text v-else>
      	<v-alert
		      icon="mdi-alert"
		      prominent
		      text
		      type="info"
		    >
		      Este proyecto no cuenta con ninguna actividad todavía
		    </v-alert>
      </v-card-text>
    </v-card>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>
    
	</v-container>	
</template>
<script>

	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import { mapGetters, mapActions }  from 'vuex';
  import funcionesExcel        from '@/mixins/funcionesExcel'

  import InfoCliente    from '@/components/proyectos/InfoCliente.vue'


	export default {

		components:{
      Alerta,
      carga,
      InfoCliente
    },

    mixins: [ validarErrores, funcionesExcel ],

		props:[
			'dialogSecciones',
			'editedItem'
	  ],

    computed: {
      ...mapGetters('login', ['getdatosUsuario', 'getLogeadoMudity', 'getEscuela','drawer2','getEstatusLlamada','getNuevosProspectos']),
    },

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

    	cliente: null,
      search:'',
    }),

    created(){
    	this.initialize()
    },


    methods:{
    	initialize(idformulario){
    		this.cargar = true
        // Hacer la peticion de los datos
        this.$http.get('clientes.id/' + this.editedItem.idproyectos).then((response) => {
        	this.cargar = false
        	this.cliente = response.body
        }).catch(error=>{
          this.validarError( error )
        }).finally(()=> { this.overlay = false })
      },
    }
	}
</script>
